.modal{
    width: 480px;
    height: 675px;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--White, #FFF); 
    padding: 32px;
}

.titleGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

}

.closeButton{
    border: none;
    color: var(--Medium-Grey, #828FA3);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: white;
}

.modalTitle{
    color: var(--Black, #000112);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.modalTitleSubtacks{
    color: var(--Black, #000112);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;    
}

.inputLabel{
    color: var(--Medium-Grey, #828FA3);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titleInputControl{
    width: 416px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    background: var(--White, #FFF);    
    margin-top: 8px;
    margin-bottom: 24px;
    text-indent: 16px;
}

.titleInputControl::placeholder{
    color: var(--Black, #000112);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px; 
    opacity: 0.25;
}
.descriptionInputTextarea{
    width: 416px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    background: var(--White, #FFF);
    margin-top: 8px;
    margin-bottom: 24px;    
}

.subtasks{
    width: 416px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 24px;
}

.subtasksGroup{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 12px;
    align-items: baseline;
    margin-top: 6px;
}

.subtasksGroupInput{
    width: 385px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    background: var(--White, #FFF); 
}

.subtasksGroupInput::placeholder{
    color: var(--Black, #000112);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    opacity: 0.25;
}

.subtasksGroupButton{
    margin-left: 16px;
    border: none;
    width: 14.849px;
    height: 14.849px;
    flex-shrink: 0;
    background-color: #FFF;
    font-size: x-large;
}

.addNewSubtask{
    width: 100%;
    margin-top: 12px;
    height: 40px;   
    border-radius: 20px;
    background: rgba(99, 95, 199, 0.1);
    color: var(--Main-Purple, #635FC7);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px; 
    border: none;
}

.status{
    margin-bottom: 24px;
}

.statusControl{
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    background: var(--White, #FFF);
    width: 100%;
    height: 40px;
}

.createTaskButton{
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Main-Purple, #635FC7);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px; 
    border: none;
}